@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  @apply font-sans;
}

@layer base {
  @font-face {
    font-family: "TuesdayNight";
    src: url("./font/TuesdayNight-Regular.otf");
  }
  @font-face {
    font-family: "MelodramaMedium";
    src: url("./font/Melodrama-Medium.ttf");
  }
}

.npd-header-nav-item {
  @apply hover:text-sub-text transition-all duration-300 flex md:py-[11px] md:px-5;
}

.npd-header-subnav-item {
  @apply block py-[10px] md:pl-7 px-5 leading-[19.6px] text-[15px] text-[#222] hover:text-sub-text transition-all duration-200;
}
#npd-cart-close *,
#npd-menu-bar * {
  pointer-events: none;
}

@media screen and (min-width: 769px) {
  #npd-subnav-pages,
  #npd-header-navbar-item {
    height: initial !important;
  }
}
@media screen and (max-width: 320px) {
  #content {
    @apply px-6;
  }
}

/* Cart html */

.npd-cart-empty {
  @apply grid place-items-center text-[14px] text-black;
}
/* =============================== End of Header ==================================== */

/* =============================== Slider ============================================ */
.npd-btn {
  @apply block py-3 px-5 leading-[19.6px] text-sub-text border-color-border rounded-[50%] border-[1px] w-fit text-[14px] border-solid hover:bg-sub-text hover:text-white hover:border-sub-text transition-all duration-500 bg-color-bg;
}

/* =============== About ====================== */

.npd-about-img {
  @apply hidden lg2:block transition-all duration-1000 translate-y-0 ease-linear absolute -z-10 rounded-lg overflow-hidden;
}

/* ================ Products ================= */
.npd-title-Melo {
  @apply font-Melodrama text-[70px] md:text-[44px] font-medium leading-[98px] md:leading-[61.6px] mb-[10px];
}

.npd-title-Tue {
  @apply font-TuesdayNight text-sub-text text-[80px] md:text-[50px]  leading-[112px] md:leading-[70px];
}

/* ====================== brand ============================ */
.npd-brand-item {
  @apply text-[28px] sm:text-xl leading-[39.2px] mb-[10px] hidden transition-all duration-200 animate-appear;
}

.npd-brand-item.active {
  @apply block;
}
.npd-brand-img {
  @apply h-full w-full cursor-pointer opacity-30 hover:opacity-100 transition-all duration-300;
}

.npd-brand-img.active {
  @apply opacity-100;
}

/* ========================== footer ============================= */

.npd-footer-text {
  @apply text-[14px] leading-[19.6px] mb-[10px];
}

.npd-footer-link {
  @apply text-sub-text hover:underline transition-all duration-200;
}

.npd-footer-title {
  @apply font-Melodrama text-[28px] font-medium leading-[39.2px] mb-[30px];
}
/* ========================================== end of Home ==================================================== */
